@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;500;600&display=swap');


*{
	font-family: 'Poppins',sans-serif;

}
body{
	background: #ddd;
}
ul  li a {
	display: flex;
	background: #ddd;
	height: 40px;
	width: 100px;
	margin: 0 15px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	            -6px -6px 10px -1px rgba(255,255,255,0.7)
	border : 1px solid rgba(0,0,0,0);
	transition: transform 0.5s;
	
}
ul a:hover{
	box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	            0.5px 0.5px 0px rgba(255,255,255,1),
	            0.5px 0.5px 0px rgba(0,0,0,0.15),
	            0px  12px 10px -10px rgba(0,0,0,0.05);
	border : 1px solid rgba(0,0,0,0.1);
	transform: translateY(3px);
}

 .container{
	text-align: center;
	padding: 2rem 0;
	padding-bottom: 3rem;
	font-size: 3.5rem;
	color: var(--black);
}
.container span{
	background: orange;
	color: #ddd;
	display: inline-block;
	padding: 1.5rem 1.5rem;
	clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);

}

#carouselExampleIndicators{
	padding: 10px;
}
.Features .card-body{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
	gap: 1rem;

}
.Features .card-body .box{
	padding: 3rem 2rem;
	background: #ddd;
	outline: var(--outline);
	border-radius: .5rem;
	outline-offset:-1rem ;
	text-align: center;
	box-shadow: box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	            -6px -6px 10px -1px rgba(255,255,255,0.7);
	border : 1px solid rgba(0,0,0,1);
	transition: transform 0.5s;
}
.Features .card-body .box:hover{
	box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	            0.5px 0.5px 0px rgba(255,255,255,1),
	            0.5px 0.5px 0px rgba(0,0,0,0.15),
	            0px  12px 10px -10px rgba(0,0,0,0.05);
	border : 1px solid rgba(0,0,0,0.1);
	transform: translateY(3px);
}

.title_2 {
	text-align: center;
	padding: 2rem 0;
	padding-bottom: 3rem;
	font-size: 3.5rem;
	align-items: center;
	justify-content: center;
	color: var(--black);

}
.title_2 span {
	background: orange;
	color: #ddd;
	display: inline-block;
	padding: 1.5rem 1.5rem;
	clip-path: polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}
.container_2 .box_container {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
	gap: 1rem;
}
.container_2 .box_container .box-2{
	padding: 1rem 1rem;
	border-radius: .5rem;
	background: #ddd;
	outline: var(--outline);
	outline-offset:-1rem ;
	text-align: center;
	box-shadow: box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	            -6px -6px 10px -1px rgba(255,255,255,0.7);
	border : 1px solid rgba(0,0,0,1);
	transition: transform 0.5s;
}
.container_2 .box_container .box-2 img{
	margin: 1rem 0;
	height: 15rem;
}
.container_2 .box_container .box-2 h3{
	font-size: 2rem;
	color: var(--black);
	line-height: 1.8;
}
.container_2 .box_container .box-2 p{
	font-size: 2rem;
	color: var(--light-color);
	line-height: 1.8;
	padding: 1rem 0;
}
 .box_container .box-2:hover{
	box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	            inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	            0.5px 0.5px 0px rgba(255,255,255,1),
	            0.5px 0.5px 0px rgba(0,0,0,0.15),
	            0px  12px 10px -10px rgba(0,0,0,0.05);
	border : 1px solid rgba(0,0,0,0.1);
	transform: translateY(3px);

}

.products .product-slider .box-3{
	padding: 3rem 2rem;
	border-radius: .5rem;
	background: #ddd;
	outline: var(--outline);
	outline-offset:-1rem ;
	text-align: center;
	box-shadow: var(--box-shadow);
	

}
